*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON  */
/* bg and border */
.bg_red{
    background-color: red;
}
.bg_green{
    background-color: green;
}
.lightgray{
    color: rgb(97, 94, 94);
}
.red{
    color: red;
}
.bold{
    font-weight: 600;
}
.border{
    border: 1px solid black;
}
.text-white{
    color: #fff;
}
.show{
    display: block;
}
.hidden{
    display: none;
}
.product:hover .show{
    display: none;
}
.product:hover .hidden{
    display: block;
}
.position-absolute{
    position: absolute;
}
.padding-5{
    padding: 5px;
}

/* container and row  */
.row{
    display: flex;
    margin: 0 auto;
    height: 100%;
    width: 80%;
    flex-wrap: wrap;
    
}
.gap{
    gap: 20px;
}

.col-33{
    width: calc(100% / 3 - 20px);
    
}
.justify-center{
    justify-content: center;
}
/* HEADER  */
header{
    height: 80px;
    background-color: orange;
    padding-top: 10px;
    position: sticky;
    top: 0;
}
header .row{
    align-items: center;
}
header .container{
    max-width: 1200px;
    margin: 0 auto;
    height: 60px;
}
/* MAIN  */
main{
    padding-top: 50px;
}
main .container{
    max-width: 1200px;
    margin: 0 auto;
    height: 800px;
}
.product{
    position: relative;
}
.product > img{
    width: 100%;
}
.heart{
    right: 0;
    top: 10px;
    background-color: white;
    padding: 10px 15px;
    font-size: 30px;
}
.discount{
    left: 0;
    bottom: 20px;
}
.sustainability{
    left: 50px;
    bottom: 20px;
}
.old-price{
    text-decoration: line-through;
    font-size: small;
}

/* FOOTER  */
footer{
    background-color: black;
    height: 100px;
    margin-top: 50px;
}